<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <!-- แท็ก html ที่ต้องการ ตามด้วย ชื่อ class -->
  <!-- div.container -->
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dating App</a>
    <!-- #. Using the async pipe (instand of subscribe()) -->
      <ul class="navbar-nav me-auto" *ngIf="currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link " href="#">Matchs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)="logout()" href="#">Logout</a>
        </li>
      </ul>
      <!-- snippets: a-ngif => *ngIf="expression" -->
      <!-- "dropdown" ที่คุณเห็นใน div ใน angular เรียกว่า directive -->
      <div class="dropdown" *ngIf="currentUser$ | async" dropdown>
        <a class="dropdown-toggle text-light" dropdownToggle>Welcome user</a>
        <!-- *dropdownMenu => structural directive (มี *) -->
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <!-- #loginForm คือ template reference variable -->
      <!-- #loginForm="ngForm" จะทำให้ form นี้เป็น angular form ซึ่งนั้นจะทำให้คุณใช้ (ngSubmit)=".." ได้ -->
      <!-- (ngSubmit) จะถูกเรียกเมื่อ button type submit ถูกคลิก -->
      <!-- สามารถใช้ [hidden] แทน *ngIf="!loggedIn" แต่มันจะแค่ไม่ show ซึ่งมันจะสร้าง dom อยู่  -->
      <form *ngIf="(currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
        <!-- ใช้ ! operator ไม่ได้เลยทำแบบ  === null แทน -->
        <!-- snippets: a-ngm = [(ngModel)]="binding" -->
        <!-- [] มักใช้ในการรับค่าจาก component -->
        <!-- () มักใช้รับค่าจาก template เข้า component -->
        <input 
          name="username"
          [(ngModel)]="model.username"
          class="form-control mr-sm-2" 
          type="text" 
          placeholder="Username">
        <input 
          name="password"
          [(ngModel)]="model.password"
          class="form-control mr-sm-2" 
          type="password" 
          placeholder="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
  </div>
</nav>